<%- include('partials/header.ejs') %>
<body>
    <div id="confirm-message">
        <h1>Your response is saved</h1>
        <img src="./assets/images/checkmark-480.svg" id="checkmark" alt="checkmark">
    </div>
</body>
</html>